/* https://autoprefixer.github.io/ */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
}

header {
  height: 50px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  position: fixed;
  top: 0;
  background: lightslategray;
  align-content: center;
}

.title {
  justify-self: center;
}

/* Main content */

body {
  background: rgba(119, 136, 153, 0.5);
  background: white;
}


.project-tabs {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  background: lightblue;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
}

.tab {
  height: 75%;
  width: 100%;
  border-radius: 0 10px 0 0;
  border: 1px solid lightslategray;
  border-left: none;
  background: white;
  opacity: 0.5;
  display: grid;
  align-content: center;
  grid-auto-flow: column;
}
 
.tab:hover {
  opacity: 0.7;
}

.tab input {
  width: 100px;
}

.delete {
  width: 20px;
  height: 20px;
  background: grey;
  opacity: 0.3;
  border-radius: 100%;
  justify-self: end;
  margin-right: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.delete:hover {
  opacity: 0.8;
}

.selected {
  opacity: 1;
  border-bottom: none;
}

.selected:hover {
  opacity: inherit;
}

.add-project-btn {
  width: 40px;
  height: 20px;
  background: grey;
  opacity: 0.5;
  border-radius: 25%;
  justify-self: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.add-project-btn:hover {
  opacity: 0.8;
}

.project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0 auto 0 auto;
  width: 75%;
}

.task {
  margin-top: 10px;
  height: 200px;/*probably change*/
  width: 100%;
  border-radius: 10px;
  background: lightslategray;
  display: grid;
  grid-auto-flow: row;
}

.task > * {
  border-bottom: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
}

.task > *:last-child {
  border-bottom: none;
}

.priority label {
  padding-left: 5px;
}

.add-task-btn {
  align-self: center;
  width: 100px;
  height: 75px;
  background: grey;
  opacity: 0.5;
  border-radius: 25%;
  justify-self: center;
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 3em;
}

.add-task-btn:hover {
  opacity: 0.8;
}