/* https://autoprefixer.github.io/ */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
}

header {
  height: 50px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  position: fixed;
  top: 0;
  background: lightslategray;
  align-content: center;
}

.title {
  justify-self: center;
  position: absolute;
}

.add-project-btn {
  justify-self: end;
  margin-right: 20px;
}

/* Main content */

body {
  background: rgba(119, 136, 153, 0.5);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 70px auto 0 auto;
  width: 75%;

}

.project {
  height: 200px;/*probably change*/
  width: 100%;
  border-radius: 10px;
  background: lightslategray;
}

#general {

}