/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
}

header {
  height: 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  position: fixed;
  top: 0;
  background: lightslategray;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 100;
}

.title {
  -ms-grid-column-align: center;
      justify-self: center;
}

/* Main content */

body {
  background: rgba(119, 136, 153, 0.5);
  background: white;
}

.project-tabs {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  background: lightblue;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.tab {
  height: 75%;
  width: 100%;
  border-radius: 0 10px 0 0;
  border: 1px solid lightslategray;
  border-left: none;
  background: white;
  opacity: 0.5;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  overflow: hidden;
}
 
.tab:hover {
  opacity: 0.7;
}

.last-tab:hover {
  opacity: 0.5;
}

.tab input {
  width: 100px;
}

.delete {
  position: absolute;
  width: 20px;
  height: 20px;
  background: grey;
  opacity: 0.3;
  border-radius: 100%;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 10px;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete:hover {
  opacity: 0.8;
}

.selected {
  opacity: 1;
  border-bottom: none;
}

.selected:hover {
  opacity: inherit;
}

.add-project-btn {
  width: 40px;
  height: 20px;
  background: grey;
  opacity: 0.5;
  border-radius: 25%;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-project-btn:hover {
  opacity: 0.8;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0 auto 0 auto;
  width: 100%;
}

.task {
  margin-top: 10px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background: lightslategray;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: 50px 1fr 1fr 4fr;
  grid-template-rows: 50px 1fr 1fr 4fr;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.task form {
  grid-row: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 20px 30px 50px 1fr;
  grid-template-rows: 30px 20px 30px 50px 1fr;
  padding: 10px;
}

.task .delete {
  position:absolute;
  margin: 10px 10px 0 0;
}

.task .edit {
  position: absolute;
  width: 20px;
  height: 20px;
  background: grey;
  opacity: 0.3;
  border-radius: 100%;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: 10px;
  margin-right: 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit:hover {
  opacity: 0.8;
}

.last-task{
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.task > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.task .name {
  font-weight: bold;
  font-size: 3em;
  overflow: hidden;
  width: 75%;
  margin-left: 20px;
}

.task .dueDate {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
}

.task .priority {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
}

.task .description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 250px;
  height: 120px;
  margin-left: 20px;
}

.add-task-btn {
  -ms-grid-row-align: center;
      align-self: center;
  width: 100px;
  height: 75px;
  background: grey;
  opacity: 0.5;
  border-radius: 25%;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-size: 3em;
}

.add-task-btn:hover {
  opacity: 0.8;
}

@media (max-width: 1455px) {
  .project {
    width: 100%;
  }
}

@media (max-width: 1275px) {
  .project {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 955px) {
  .project{
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .tab {
    font-size: 0.75em;
  }

  .project{
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}